<h1><%= "#{@journey} Journey" %></h1>
<h2>Apprentice's List</h2>
<ul>
  <% @journey.apprentices.each do |apprentice| %>
    <li>
      <%= apprentice.name %>
    </li>
  <% end %>
</ul>

<h2>Add Apprentices</h2>

<%= form_with(model: Path.new) do |f| %>
  <%= f.label :apprentice, 'Apprentice', class: "form-label" %>
  <%= f.collection_select :apprentice_id, Apprentice.order(:name), :id, :name %>
  <%= f.hidden_field :journey_id, value: @journey.id %>

  </br>
  <%= f.submit 'Submit', class: "form-button" %>
<% end %>